.content .menu {
  background-color: $nav-color;
  overflow: hidden;


  @include span-columns(4);

  @include media ($mobile) {
    @include span-columns(8);
    height: 0;
    padding: 0;
  }

  @include media ($tablet) {
    @include span-columns(10);
    height: 50px;
    padding: 10px 0;
  }

  @include media ($desktop) {
    @include span-columns(12);
  }
}

.leaf a, .expanded a {
  color: $body-back;
}

.leaf, .expanded {
  @include span-columns(4);

  @include media ($mobile) {
    @include span-columns(8);
  }

  @include media ($tablet) {
    @include span-columns(2);
  }

  @include media ($desktop) {
    @include span-columns(2.33);
  }

  text-align: center;

  a {
    @include font-size(16);
  }
}

.block-menu h2{
  @include media ($mobile) {
    @include span-columns(3);
    @include shift(5);

    border: 1px solid $text-color;
    margin-top: 20px !important;
    padding: 10px;
    text-align: center;
  }

  @include media ($tablet) {
    display: none;
  }

  @include media ($desktop) {
    display: none;
  }
}

.expanded {
  @include media ($mobile) {
    height: 30px;
    overflow: hidden;
    transition: height .5s linear;

    .menu {
      text-align: center;
      width: 100%;

      .leaf {
        text-align: center;
        width: 100%;
      }
    }
  }
}

.open {
  height: 180px;
  padding: 20px 0;
}
