.menu {
  background-color: $nav-color;
  padding: 20px 0;

  @include span-columns(4);

  @include media ($mobile) {
    @include span-columns(8);
  }

  @include media ($tablet) {
    @include span-columns(10);
  }

  @include media ($desktop) {
    @include span-columns(12);
  }
}

.leaf, .expanded {
  @include span-columns(4);

  @include media ($mobile) {
    @include span-columns(8);
  }

  @include media ($tablet) {
    @include span-columns(2);
  }

  @include media ($desktop) {
    @include span-columns(2.33);
  }

  text-align: center;

  a {
    @include font-size(16);
  }
}

.expanded {
  height: 30px;
  overflow: hidden;
  transition: height .5s linear;

  .menu {
    text-align: center;
    width: 100%;

    .leaf {
      text-align: center;
      width: 100%;
    }
  }
}

.open {
  height: 300px;
}
