html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
 * Rules for base elements
 */
html {
  font-size: 10px; }

body {
  margin: 0;
  background-color: #333; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em; }

p {
  overflow: hidden; }

a {
  color: #367BD6;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #f2f2f2;
  margin-top: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.main-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; }

.main {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .main:last-child {
    margin-right: 0; }
  @media screen and (min-width: 320px) {
    .main {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    .main {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%; }
      .main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    .main {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .main:last-child {
        margin-right: 0; } }

#sidebar-first {
  display: none; }

.site-logo {
  display: none; }

#site-name, .site-name {
  display: none; }

.flexslider .views-label-field-image {
  display: none; }

.node-image-banner {
  display: none; }

h2 {
  font-size: 28px;
  font-size: 2.8rem; }

.content .menu {
  background-color: #5DEC5F;
  overflow: hidden;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .content .menu:last-child {
    margin-right: 0; }
  @media screen and (min-width: 320px) {
    .content .menu {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      height: 0;
      padding: 0; }
      .content .menu:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    .content .menu {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%;
      height: 50px;
      padding: 10px 0; }
      .content .menu:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    .content .menu {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .content .menu:last-child {
        margin-right: 0; } }

.leaf a, .expanded a {
  color: #333; }

.leaf, .expanded {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  text-align: center; }
  .leaf:last-child, .expanded:last-child {
    margin-right: 0; }
  @media screen and (min-width: 320px) {
    .leaf, .expanded {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .leaf:last-child, .expanded:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    .leaf, .expanded {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 17.7259315437%; }
      .leaf:last-child, .expanded:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    .leaf, .expanded {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 17.5167924207%; }
      .leaf:last-child, .expanded:last-child {
        margin-right: 0; } }
  .leaf a, .expanded a {
    font-size: 16px;
    font-size: 1.6rem; }

@media screen and (min-width: 320px) {
  .block-menu h2 {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 35.2633352458%;
    margin-left: 64.7366647542%;
    border: 1px solid #f2f2f2;
    margin-top: 20px !important;
    padding: 10px;
    text-align: center; }
    .block-menu h2:last-child {
      margin-right: 0; } }

@media screen and (min-width: 820px) {
  .block-menu h2 {
    display: none; } }

@media screen and (min-width: 1000px) {
  .block-menu h2 {
    display: none; } }

@media screen and (min-width: 320px) {
  .expanded {
    height: 30px;
    overflow: hidden;
    transition: height .5s linear; }
    .expanded .menu {
      text-align: center;
      width: 100%; }
      .expanded .menu .leaf {
        text-align: center;
        width: 100%; } }

.open {
  height: 180px;
  padding: 20px 0; }

.flexslider {
  margin: 50px auto 60px;
  width: 100%; }

#block-views-categorias-block-block-1 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  border: 1px solid #5DEC5F;
  margin: 50px auto;
  padding: 20px 2%; }
  #block-views-categorias-block-block-1:last-child {
    margin-right: 0; }
  @media screen and (min-width: 320px) {
    #block-views-categorias-block-block-1 {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      #block-views-categorias-block-block-1:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    #block-views-categorias-block-block-1 {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%; }
      #block-views-categorias-block-block-1:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    #block-views-categorias-block-block-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      #block-views-categorias-block-block-1:last-child {
        margin-right: 0; } }

.category-item {
  float: left;
  list-style: none;
  margin: 5px 0;
  width: 50%; }
  .category-item a {
    font-size: 18px;
    font-size: 1.8rem; }

#block-views-productos-destacados-block {
  border: 1px solid #5DEC5F;
  margin: 50px auto;
  padding: 20px 2%; }
  @media screen and (min-width: 320px) {
    #block-views-productos-destacados-block {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      #block-views-productos-destacados-block:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    #block-views-productos-destacados-block {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%; }
      #block-views-productos-destacados-block:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    #block-views-productos-destacados-block {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      #block-views-productos-destacados-block:last-child {
        margin-right: 0; } }
  #block-views-productos-destacados-block h2 {
    width: 100%; }
  @media screen and (min-width: 320px) {
    #block-views-productos-destacados-block .content {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      #block-views-productos-destacados-block .content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    #block-views-productos-destacados-block .content {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%; }
      #block-views-productos-destacados-block .content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    #block-views-productos-destacados-block .content {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      #block-views-productos-destacados-block .content:last-child {
        margin-right: 0; } }

@media screen and (min-width: 320px) {
  .item-list {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%; }
    .item-list:last-child {
      margin-right: 0; } }

@media screen and (min-width: 820px) {
  .item-list {
    float: left;
    display: block;
    margin-right: 2.8425855704%;
    width: 100%; }
    .item-list:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1000px) {
  .item-list {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .item-list:last-child {
      margin-right: 0; } }

.item-list li {
  font-size: 18px;
  font-size: 1.8rem;
  color: #f2f2f2; }
  @media screen and (min-width: 320px) {
    .item-list li {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      margin-right: 0; }
      .item-list li:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    .item-list li {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 22.8680608222%;
      margin-right: 0; }
      .item-list li:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    .item-list li {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .item-list li:last-child {
        margin-right: 0; } }

.node-teaser {
  font-size: 18px;
  font-size: 1.8rem;
  border: 1px solid #5DEC5F;
  color: #f2f2f2;
  margin: 50px auto;
  padding: 20px 2%; }
  @media screen and (min-width: 320px) {
    .node-teaser {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 87.0526670492%;
      margin-left: 3.2368332377%; }
      .node-teaser:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    .node-teaser {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 31.4348482002%; }
      .node-teaser:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    .node-teaser {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .node-teaser:last-child {
        margin-right: 0; } }
  .node-teaser div {
    margin: 10px 0; }

#node-27, .node-promoted {
  display: none; }

.view-mode-full {
  font-size: 18px;
  font-size: 1.8rem;
  color: #f2f2f2; }
  @media screen and (min-width: 320px) {
    .view-mode-full {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .view-mode-full:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 820px) {
    .view-mode-full {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%; }
      .view-mode-full:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1000px) {
    .view-mode-full {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .view-mode-full:last-child {
        margin-right: 0; } }
  .view-mode-full input, .view-mode-full textarea {
    color: #333; }
  .view-mode-full div {
    margin: 20px 0; }

.footer {
  background-color: #1a1a1a;
  padding: 20px; }

#block-views-copuright-block .field-content {
  display: none; }

#block-views-copuright-block h2 {
  font-size: 18px;
  font-size: 1.8rem; }

/*# sourceMappingURL=style.css.map */